/* !color */

.bg-green {
    background-color: #1abc9c;
}

.bg-magenta {
    background-color: #ba4b63;
}

.bg-celeste {
    background-color: #1ea4b6;
}

.bg-black {
    background-color: #140f0f;
}

.bg-azzurro {
    background-color: #1c83c1;
}

.bg-blue {
    background-color: #0e38b5;
}

.bg-marrone {
    background-color: #ccb2a3;
}