/* !color */

.mybg-light-green {
    background-color: #1abc9c;
    color: white;
}



.mybg-dark-blue {
    background-color: #2c3e50;
}

.mybg-light-blue {
    background-color: #3a546d;
}




/* !main */

main #jumbotron img {
    width: 12rem;
}

main #line {
    height: 3px;
    width: 6.5rem;
    background-color: white;
    margin-top: .7rem;
    border-radius: 100px;
}

main #portfolio #line,
main #contact #line {
    background-color: #2c3e50;
}

main #portfolio i,
main #contact i {
    color: #2c3e50;
}

.mycontainer {
    width: 60%;
}

main .form-control {
    border-top: none;
    border-right: none;
    border-left: none;
}

main #contact button {
    background-color: #1abc9c;
    border: none;
}